<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>ossrh</id>
            <username>BrunoRv</username>
            <password>XHTmUR.x!LTR85v</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>b1c2d3e4</passphrase>
        </server>
    </servers>
</settings>